.content-area{
    border-top: 1px solid black;
    
}
.header{
    background-color: white;
}

.new-post{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    padding-top: 20px;
    margin-top: 20px;
    box-shadow: 1px 1px 12px black;
}

 .my-wall{
     border:1px solid black ;
     border-radius: 2px;
     background-color: white;
     padding-top: 20px;
     margin-top: 20px;
     box-shadow: 1px -1px 12px black;
 }
